@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
    font-style: oblique;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, black 0.52%, black 100%);
    --secondaryGradient: linear-gradient(268.91deg, black -2.14%, black 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: grey;
    scroll-behavior: smooth;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    position: fixed;
    margin-top: 50px;
    z-index: 25;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: grey;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    margin-left: 2px;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
    font-style: oblique;
}

.chatbox__send--footer {
    color: white;
    font-style: oblique;
    font-size: 22px;
}
.chatbox__button{
  position: fixed;
  bottom: 5px;
  right: 90px;
  padding-top: 70px;
  z-index: 100px;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  

  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:#191f36;
}
.main-back img{
    background-size:cover;
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    border-radius:20px;
}
.wrapper {
    display: flex;
    align-items: center;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  position: relative;
  height: 90vh;
  margin-top: 0%;
  position: relative;
  top: -110%;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}










@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: "Poppins", sans-serif;
}

.mainframe{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
}

.mainframe img{
    max-width: 100%;
    height: auto;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    border-radius:20px;
}
.heading{
    position:absolute;
    top:0;
    display:flex;
    align-items:center;
    justify-content:center;
    height:60vh;
    width:100vw;
    padding-right:50px;
    font-family: "poppins",sans-serif;
    font-style:oblique;
    font-size:25px;
}
.heading2{
    position:absolute;
    top:0;
    display:flex;
    align-items:center;
    justify-content:center;
    height:90vh;
    width:100vw;
    padding-right:50px;
    font-family: "poppins",sans-serif;
    font-style:oblique;
    font-size:25px;
}
.heading-font{
    color:white;
}
.heading-font2{
    color:white;
    font-style:oblique;
}


.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    font-size: 70px;
    font-family: "poppins",sans-serif;
    font-weight: 700px;
    margin-right: 50px;
    padding-right: 50px;
    border-radius:5px;
}
.right{
    background-image:url("white1.gif");
    background-position: center;
    background-size: cover;
    color:transparent;
      border-radius:15px;
    background-clip: "text";
    font-family: "poppins",sans-serif;
    font-style: oblique;
    -webkit-background-clip: text;
    margin-bottom: 0px;
    position: relative;
    top: -10%;
}
.rightfeatures{
  background-image:url("white1.gif");
  background-position: center;
  background-size: cover;
  color:transparent;
    border-radius:15px;
  background-clip: "text";
  font-family: "poppins",sans-serif;
  font-style: oblique;
  -webkit-background-clip: text;
  margin-bottom: 0px;
  position: relative;
  top: -90%;
  
}
.rightsuggestions{
  background-image:url("white1.gif");
  background-position: center;
  background-size: cover;
  color:transparent;
    border-radius:15px;
  background-clip: "text";
  font-family: "poppins",sans-serif;
  font-style: oblique;
  -webkit-background-clip: text;
  margin-bottom: 0px;
  position: relative;
  top: -150%;
}
.rightfaq{
  background-image:url("white1.gif");
  background-position: center;
  background-size: cover;
  color:transparent;
    border-radius:15px;
  background-clip: "text";
  font-family: "poppins",sans-serif;
  font-style: oblique;
  -webkit-background-clip: text;
  margin-bottom: 0px;
  position: relative;
  top: -300%;
  z-index: 0;
}
.suggestionhr{
  position: relative;
  top: -140%;
}
.gallery{
    display:flex;
    gap:1rem;
    height:300px;
    width:95%;
    position: relative;
    margin-top: 50px;
    position: relative;
    top: -20%;
     
    
}
.gallery > div{
    flex:1;
    transition:all 1s;
    margin-left:50px;
    border-radius: 20px;
     box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}
.gallery > div:nth-child(1){
  background:url("animated1.gif");
  background-position:center;
  background-size:cover;


}
.gallery > div:nth-child(2){
  background:url("animated2.gif");
  background-position:center;
  background-size:cover;
  
}
.gallery > div:nth-child(3){
  background:url("animated3.gif");
  background-position:center;
  background-size:cover;
}
.gallery>div:hover{
    flex:6;
}
.button{
 width: 100%;
 display: flex;
 margin-top: 45%;
 height: 40%;
 text-align: center;
 vertical-align: center;
 font-family: "poppins",sans-serif;
 border-radius: 15px;
 border:none;
 font-size: larger;
 padding-top:30px;
 padding-left: 20px;
 font-style: oblique;
 overflow-wrap: 0;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
 
 }
hr{
    height: 5px;
    margin-top: 12%;
    background-color: white;
    position: relative;
    top: -42%;
}
.loaderfaq{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
  position: relative;
  top: -150%;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    position: relative;
    top: -50%;
}
.belowhr{
  position: relative;
  top: -70%;
}
.slider{
    overflow: hidden;
    background-color:white;
    margin:0 15px;
    height: 80px;
    width: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),-15px -15px 30px #918c8c,inset -5px -5px 10px rgba(0,0,255,0.1),inset 5px 5px 10px rgba(0,0,0,0.1);
    position: relative;
    margin-top: 20px;
}
.slider::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
border-radius: 100%;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3),0px 420px 0 400px #2697f3,inset 0px 0px 0px rgba(0, 0, 0, 0.1);
animation: animate_2 2.5s
ease-in-out infinite;
animation-delay: calc(-0.4s * var(--i));
}
@keyframes animate_2{
    0%{transform: translateY(250px);
    filter:hue-rotate(0deg);}
    50%{
    transform: translateY(0);
    }
    100%{
        transform: translateY(250px);
        filter: hue-rotate(180deg);
    }
}
.design-card{
    width: 190px;
    height: 254px;
    background: rgb(247, 253, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    color: white;
    list-style: none;
    
}
.design-card:hover{
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.705);
    background: white;
    color: silver;
}
.first-content{
    background-image: url(bot.gif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
   transition: all 0.4s;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
   border-radius: 15px;
   color: silver;
   
}
.design-card:hover .first-content{
    height: 0px;
    opacity: 0;
}
.second-content{
      background-image: url(w.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: list-item;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    color: black;
    
}
.design-card:hover .second-content{
opacity: 1;
height: 100%;
font-size: 1rem;
transform: rotate(0deg);
}
.design{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    position: relative;
    top: -50%;
}
.mainframe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 500;
  font-weight: bolder;
  margin-left: 150px;
  
}
.nav-bar ul  {
  display: flex;
  margin-right: 5px;
  list-style: none;
}
.nav-bar a{
  color: white;
  margin-right: 5px;
  padding: 3rem;
  text-decoration: none;
}
.nav-bar a:hover{
  text-decoration: underline;
  text-decoration-color: #2697f3;
}
.alink:hover{
    text-decoration:underline;
    text-decoration-color:coral;
    transition:0.2s;
    font-family: "poppins",sans-serif;
}
.portfolio img{
  border-radius: 30%;
}


.topic{
    display: flex;
    column-gap: 100px;
    padding-left: 50%;
    margin-left: 50px;
    font-family: "poppins",sans-serif;
    font-size: larger;
    font-style: oblique;
}
.topic div:hover{
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

::selection{
  background: #7d2ae8;
  color: #fff;
}
.accordion{
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
  margin-left: 15%;
  top: -156%;
  position: relative;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  color: #7d2ae8;
  font-family: 'Fira Sans', sans-serif;
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}

@media (max-width: 994px) {
  body{
    padding: 40px 20px;
  }
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    background: #7d2ae8;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }
}
.footer {
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1280px;
  width: 100%;
  background: black;
  border-radius: 6px;
  margin-top: 350%;
  right: 48%;
  padding-right: 70px;
  z-index: 0;
  align-items: center;

}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
  width: 100%;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  z-index: 0;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }

}
.vbtn{
  color:white;
  background:grey;
  border: none;
  font-size: 15px;
  margin-left: 10px;
  font-size: 22px;
  border-radius: 15px;
  padding: 6px;
  font-style: oblique;
}
.aboutapp{
  display:flex;
  align-items:center;
  color:black;
  width: 100vw;
  height: 30vh;
  padding-bottom:150px;
  justify-content: center;
  font-size: 100px;
  font-style: oblique;
cursor: pointer;
 }
.speak-btn{
  margin-left: 35%;
  font-size: 100px;
  font-family: "poppins",sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border:none;
  color: transparent;
   background-image:url("white1.gif");
    background-position: center;
    background-size: cover;
    color:transparent;
      border-radius:15px;
    background-clip: "text";
    font-family: "poppins",sans-serif;
    font-style: oblique;
    -webkit-background-clip: text;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    top: -15%;
    left: 8%;
}
.speak-btn img{
  border-radius: 100%;
}
/*"https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"*/

/* ===== Google Font Import - Poppins ===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #010718;
    --nav-color: #02055A;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    
}

body{
    height: 100vh;
    background-color: var(--body-color);
    
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}